@using ViaDoc.EntidadNegocios

@model ViaDoc.EntidadNegocios.portalWeb.TiempoServicioLista


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="tblCompania" class="table table-bordered table-striped" style="font-size:13px">
                    <thead>
                        <tr>
                            <th>Tipo Servicio</th>
                            <th>Hora Inicio</th>
                            <th>Hora Fin</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.objListaTiempo)
                        {
                            <tr>
                                <td>@item.tipoServicio</td>
                                <td>@item.horaInicio</td>
                                <td>@item.horaFin</td>
                                <td>
                                    <center>
                                        <input type="button" onclick="eliminar()" class="btn btn-outline-warning" value="Eliminar">
                                    </center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#tblCompania').DataTable({
        "paging": true,
        "searching": true,
        "ordering": true,
        "autoWidth": false,
        "pageLength": 10,
        "responsive": true,
        "language": {
            url: "../Content/idioma/espaniol.json"
        },
    });

    function Sucursal(CiCompania) {


        CargarSucursal(CiCompania);
        $("#modal-Sucursal").modal('show');
    }

    function eliminar() {
        $("#modal-default").modal('show');
    }

    function modificar() //, txMailAdressFrom, txPassCredencial, txPara, txTo, txUrlPortal, txAsunto, txActivarNotificacion)
    {

        //$('#txtIdEmpresa').prop('disabled', 'disabled');
        //$('#txtIdEmpresa').val(txtIdCompania);
        //$("#txHostServidor").val(txHostServidor);
        //$("#txPuertoServidor").val(txPuertoServidor);

        //$('#txEnableSsl').val(txEnableSsl);
        //$("#txEmailCredencial").val(txEmailCredencial);

        $("#modal-default").modal('show');


    }
</script>


